body {
    font-family:"Montserrat";
}

#title{
    background-color: #ff4c68;
    color: #fff;
}
    


h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    
    font-weight: bold;
    font-size: 1.2rem;
    
    
    
}

p {
    color: #8f8f8f;

}



.container-fluid {
    padding: 3% 15% 7%;
    
}

.navbar {
    padding: 0 0 4.5rem;
}


 /***************************** Navegation Bar ********************/

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.3rem;
}

.download-botton {
    margin: 5% 3% 5% 0;
}

/****************************************** Title Image ******************************/
.phone-parent {
    position: relative;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
        
    
}

/* **********************Feature Section **************************************/
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
    
}
.feature-box {
    text-align: center;
    padding:5%;
}

.icon:hover {
    color: #ff4c68;
}

/* **********************Testmonials Section **************************/
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius:100%;
    margin: 20px;
}


/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
    text-align: center;
}
.price-box {
    margin-bottom: 65px;
}


/* Media Quary  */
@media only screen and (max-width:1205px) {
    #title {
        text-align: center;
    }

   .title-img {
    position: static;
    transform: rotate(0);
   }
   .contain {
    position: static;
   }
   .phone-parent {
    position: static;
   }
}

/* CTA section to download the App */
#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    
}
.cta-heading {
    font-family: "Montserrat";
    color: #fff;
    line-height: 1.5;
    font-size: 3.5rem;
    
    padding: 10% auto 10 auto ;
    
}

/* Social Contacts */
#footer {
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}